.about {
  .content-block {
    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }

  .text-area {
    position: relative;
    padding: 3rem 0;

    .sec-heading {
      margin-bottom: 1.5rem;
    }

    .about-text {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.7;
      margin-bottom: 3rem;
      opacity: 0.75;
      letter-spacing: 0.5px;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    .cta-area {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .img-area {
    .about-img {
      transform: scaleX(1 * $x-axe-direction);
    }
  }
}
